
@{
    ViewBag.Title = "AjaxPage";

    var option = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("AjaxPageData")
    };

}

<h2>AjaxPage</h2>

<div class="container">
    <h3>Новостная лента</h3>
    @using (Ajax.BeginForm(option))
    {

        <div class="container-fluid">
            <label class="custom-control-label">Источник ленты:  </label>
            @Html.DropDownList("id", ViewBag.Sources as SelectList, "Все", htmlAttributes: new { @class = "form-control" })
            @Html.RadioButton("sort", "date", true)
            <span>Сортировать по дате</span> <br />
            @Html.RadioButton("sort", "source")
            <span>Сортировать по источнику</span>
            <br />
            <input type="submit" value="Просмотреть" class="btn btn-default" />
        </div>
        <br />
        <div id="tabledata">
            @Html.Action("AjaxPageData", new { id = Model })
        </div>

    }

</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">
        $('body').on('click', '.pagination a', function(event) {
        event.preventDefault();
            var id = $("#id option:selected").text();
            if (id == "Все") {
                id = "";
            }
            else {
                id = "&id=" + id;
            }
            var sort = $("#sort:checked").val();
            sort = "&sort=" + sort;
            var url = $(this).attr('href');
            if (url != undefined) {
                url = url + id + sort;

                $.get({
                    url: url,
                    success: function (result) {
                        $('#tabledata').html(result);
                    }
                });       
            }
            
    });
    </script>
}